<head>
  <title>Films Home</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core CSS -->
  <link href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Start Bootstrap Custom CSS -->
  <link href="../static/style.css" rel="stylesheet" type="text/css">
  
  <link href="//getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <script src="../static/jquery-1.11.3.min.js"></script>

</head>