<!DOCTYPE html>
<html>
  {%- block head -%}{%- include 'head.html' -%}{%- endblock -%}

  <body>
    {%- block nav -%}{%- include 'nav.html' -%}{%- endblock -%}

    <header class="sb-page-header">
      <div class="container">
        <h1>Movie Night</h1>
        <p>What do you want to watch with your friends?</p>
      </div>
    </header>

<!--     {% if genres %}
      {% for genre in genres %}
        {% for product in products[genre["Id"]] %}
          <img src = {{ product["ThumbnailUrl"] }} alt = {{ product["Name"] }} height = "350" width = "256">
        {% endfor %}
      {% endfor %}
    {% endif %}
 -->
  </body>
</html>