<!DOCTYPE html>
<html>
  {%- block head -%}{%- include 'head.html' -%}{%- endblock -%}

  <body>
    {%- block nav -%}{%- include 'nav.html' -%}{%- endblock -%}

    <header class="sb-page-header">
      <div class="" style="text-align: center;">
        <h1>Movie Night</h1>
        <p>What do you want to watch with your friends? </p>
        <p>Make your decision easy with Movie Night.</p>
      </div>
    </header>

<!--     {% if genres %}
      {% for genre in genres %}
        {% for product in products[genre["Id"]] %}
          <img src = {{ product["ThumbnailUrl"] }} alt = {{ product["Name"] }} height = "350" width = "256">
        {% endfor %}
      {% endfor %}
    {% endif %}
 -->

    <row class="container col-md-12">
      <div class="col-md-4">
        <h5> Track what you want to watch. </h5>
      </div>

      <div class="col-md-4">
        <h5> Connect with friends, see what they've watched, and recommend films. </h5> 
      </div>

      <div class="col-md-4">
        <h5> Make watching films with others easier by comparing watchlists and finding sources. </h5>
      </div>

    </row>

  </body>
</html>